body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  color: #333;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #7f7fff;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-top: 20px;
}

.profile img {
  border-radius: 50%;
  margin-bottom: 10px;
}

.profile h2 {
  margin: 0;
}

.profile p {
  margin-top: 5px;
}

p {
  margin: 10px 0;
}
